.edit {
  margin: 2rem;
  position: relative;
  height: 100%;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 0.7rem 2.5rem rgba($color: #000000, $alpha: 0.08);
  .heading {
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--secondary);
  }
  .form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-around;
    gap: 3rem;
    label {
      font-style: italic;
      font-weight: 400;
      font-size: 1.8rem;
    }
    select {
      width: 20rem;
      padding: 0.5rem 1rem;
      outline: none;
      border: none;
      border-bottom: 3px solid var(--secondary);
    }
    .ed-btn {
      width: 30rem;
    }
  }
}
