.wheel-wrapper {
  max-width: 97vw;
  min-height: 30rem;
  border-radius: 1.6rem;
  @media only screen and (min-width: 37.5em) {
    height: 35rem;
  }

  .wheel-container {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    // background-image: url("./assets/img/SpinWheel.png");
    // background-size: cover;
    padding: 1rem;
    @media only screen and (min-width: 37.5em) {
      width: 100%;
      height: 100%;
    }

    .wheel {
      width: 100%;
      height: 100%;
      position: relative;
      @media only screen and (min-width: 37.5em) {
        width: 30rem;
        max-height: 30rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      // max-height: 100%;
      // @media only screen and (min-width: 37.5em) {
      //   // position: absolute;
      //   top: 0%;
      //   left: 50%;
      //   transform: translate(-50%, -50%);
      // }

      &-img {
        width: 100%;
      }

      .labels {
        position: absolute;
        top: 50%;
        left: 50%;
        list-style: none;

        .label {
          position: absolute;
          // z-index: 10;
          top: 50%;
          left: 50%;
          font-size: 1.8rem;
          color: var(--wheel-secondary);
          font-weight: 600;
          white-space: nowrap;
          @media only screen and (max-width: 22.5em) {
            font-size: 1.4rem;
          }
          @media only screen and (min-width: 31.25em) {
            font-size: 2.4rem;
          }
          @media only screen and (min-width: 37.5em) {
            font-size: 1.5rem;
          }
        }

        :nth-child(odd) {
          color: var(--black);
        }

        :first-child {
          transform: translate(-50%, -50%) rotate(22.5deg) translate(-200%)
            rotate(0deg);
          @media only screen and (max-width: 18.75em) {
            transform: translate(-50%, -50%) rotate(22.5deg) translate(-200%)
              rotate(0deg);
          }
          @media only screen and (min-width: 25em) {
            transform: translate(-50%, -50%) rotate(22.5deg) translate(-250%)
              rotate(0deg);
          }
          @media only screen and (min-width: 31.25em) {
            transform: translate(-50%, -50%) rotate(22.5deg) translate(-220%)
              rotate(0deg);
          }
          @media only screen and (min-width: 37.5em) {
            transform: translate(-50%, -50%) rotate(22.5deg) translate(-180%)
              rotate(0deg);
          }
        }

        :nth-child(2) {
          transform: translate(-90%, -160%) rotate(45deg) translate(-240%)
            rotate(0deg);
          @media only screen and (max-width: 18.75em) {
            transform: translate(-90%, -160%) rotate(45deg) translate(-250%)
              rotate(0deg);
          }
          @media only screen and (min-width: 25em) {
            transform: translate(-90%, -160%) rotate(45deg) translate(-320%)
              rotate(0deg);
          }
          @media only screen and (min-width: 31.25em) {
            transform: translate(-90%, -160%) rotate(45deg) translate(-280%)
              rotate(0deg);
          }
          @media only screen and (min-width: 37.5em) {
            transform: translate(-90%, -140%) rotate(45deg) translate(-220%)
              rotate(0deg);
          }
        }

        :nth-child(3) {
          transform: translate(-185%, 10%) rotate(292.5deg) translate(180%)
            rotate(135deg);

          @media only screen and (max-width: 18.75em) {
            transform: translate(-190%, 20%) rotate(292.5deg) translate(190%)
              rotate(135deg);
          }
          @media only screen and (min-width: 25em) {
            transform: translate(-230%, 80%) rotate(292.5deg) translate(250%)
              rotate(135deg);
          }
          @media only screen and (min-width: 31.25em) {
            transform: translate(-210%, 80%) rotate(292.5deg) translate(220%)
              rotate(135deg);
          }
          @media only screen and (min-width: 37.5em) {
            transform: translate(-145%, -180%) rotate(292.5deg) translate(100%)
              rotate(135deg);
          }
        }

        :nth-child(4) {
          transform: translate(-158%, -120%) rotate(135deg) translate(-150%)
            rotate(-45deg);
          @media only screen and (max-width: 18.75em) {
            transform: translate(-158%, -120%) rotate(135deg) translate(-150%)
              rotate(-45deg);
          }
          @media only screen and (min-width: 25em) {
            transform: translate(-250%, 140%) rotate(135deg) translate(-280%)
              rotate(-45deg);
          }
          @media only screen and (min-width: 31.25em) {
            transform: translate(-230%, 150%) rotate(135deg) translate(-250%)
              rotate(-45deg);
          }
          @media only screen and (min-width: 37.5em) {
            transform: translate(-228%, 300%) rotate(135deg) translate(-250%)
              rotate(-45deg);
          }
        }

        :nth-child(5) {
          transform: translate(160%, 0%) rotate(235deg) translate(240%)
            rotate(235deg);
          @media only screen and (max-width: 18.75em) {
            transform: translate(180%, 100%) rotate(235deg) translate(280%)
              rotate(235deg);
          }
          @media only screen and (min-width: 25em) {
            transform: translate(210%, -30%) rotate(235deg) translate(300%)
              rotate(235deg);
          }
          @media only screen and (min-width: 31.25em) {
            transform: translate(200%, 100%) rotate(235deg) translate(300%)
              rotate(235deg);
          }
          @media only screen and (min-width: 37.5em) {
            transform: translate(155%, 100%) rotate(235deg) translate(250%)
              rotate(235deg);
          }
        }

        :nth-child(6) {
          transform: translate(150%, -100%) rotate(90deg) translate(-180%)
            rotate(45deg);
          @media only screen and (max-width: 18.75em) {
            transform: translate(160%, -140%) rotate(90deg) translate(-180%)
              rotate(45deg);
          }
          @media only screen and (min-width: 25em) {
            transform: translate(220%, -140%) rotate(90deg) translate(-250%)
              rotate(45deg);
          }
          @media only screen and (min-width: 31.25em) {
            transform: translate(180%, -20%) rotate(90deg) translate(-250%)
              rotate(45deg);
          }
          @media only screen and (min-width: 37.5em) {
            transform: translate(140%, 120%) rotate(90deg) translate(-280%)
              rotate(45deg);
          }
        }

        :nth-child(7) {
          transform: translate(10%, -150%) rotate(335deg) translate(90%)
            rotate(180deg);
          @media only screen and (max-width: 18.75em) {
            transform: translate(15%, -160%) rotate(335deg) translate(90%)
              rotate(180deg);
          }
          @media only screen and (min-width: 25em) {
            transform: translate(-20%, -100%) rotate(335deg) translate(180%)
              rotate(180deg);
          }
          @media only screen and (min-width: 31.25em) {
            transform: translate(-20%, -90%) rotate(335deg) translate(150%)
              rotate(180deg);
          }
          @media only screen and (min-width: 37.5em) {
            transform: translate(-20%, -80%) rotate(335deg) translate(110%)
              rotate(180deg);
          }
        }

        :nth-child(8) {
          transform: translate(10%, -80%) rotate(0deg) translate(160%)
            rotate(180deg);
          @media only screen and (max-width: 18.75em) {
            transform: translate(20%, -80%) rotate(0deg) translate(160%)
              rotate(180deg);
          }
          @media only screen and (min-width: 25em) {
            transform: translate(-20%, -80%) rotate(0deg) translate(250%)
              rotate(180deg);
          }
          @media only screen and (min-width: 31.25em) {
            transform: translate(-20%, -80%) rotate(0deg) translate(220%)
              rotate(180deg);
          }
          @media only screen and (min-width: 37.5em) {
            transform: translate(-20%, -50%) rotate(0deg) translate(160%)
              rotate(180deg);
          }
        }

        :nth-child(9) {
          transform: translate(-40%, -60%) rotate(22.5deg) translate(160%)
            rotate(180deg);
          @media only screen and (max-width: 18.75em) {
            transform: translate(-35%, -60%) rotate(22.5deg) translate(180%)
              rotate(180deg);
          }
          @media only screen and (min-width: 25em) {
            transform: translate(-30%, -50%) rotate(22.5deg) translate(200%)
              rotate(180deg);
          }
          @media only screen and (min-width: 31.25em) {
            transform: translate(-30%, -50%) rotate(22.5deg) translate(180%)
              rotate(180deg);
          }
          @media only screen and (min-width: 37.5em) {
            transform: translate(-30%, -30%) rotate(22.5deg) translate(130%)
              rotate(180deg);
          }
        }

        :nth-child(10) {
          transform: translate(20%, 50%) rotate(45deg) translate(300%)
            rotate(0deg);
          @media only screen and (max-width: 18.75em) {
            transform: translate(20%, 50%) rotate(45deg) translate(320%)
              rotate(0deg);
          }
          @media only screen and (min-width: 25em) {
            transform: translate(20%, 50%) rotate(45deg) translate(360%)
              rotate(0deg);
          }
          @media only screen and (min-width: 31.25em) {
            transform: translate(20%, 50%) rotate(45deg) translate(340%)
              rotate(0deg);
          }
          @media only screen and (min-width: 37.5em) {
            transform: translate(20%, 50%) rotate(45deg) translate(260%)
              rotate(0deg);
          }
        }

        :nth-child(11) {
          transform: translate(40%, 60%) rotate(112.5deg) translate(100%)
            rotate(135deg);
          @media only screen and (max-width: 18.75em) {
            transform: translate(40%, 120%) rotate(112.5deg) translate(90%)
              rotate(135deg);
          }
          @media only screen and (min-width: 25em) {
            transform: translate(55%, 20%) rotate(112.5deg) translate(130%)
              rotate(135deg);
          }
          @media only screen and (min-width: 31.25em) {
            transform: translate(35%, 160%) rotate(112.5deg) translate(80%)
              rotate(135deg);
          }
          @media only screen and (min-width: 37.5em) {
            transform: translate(30%, 60%) rotate(112.5deg) translate(90%)
              rotate(135deg);
          }
        }

        :nth-child(12) {
          transform: translate(-120%, 280%) rotate(225deg) translate(-100%)
            rotate(45deg);
          @media only screen and (max-width: 18.75em) {
            transform: translate(-120%, 250%) rotate(225deg) translate(-100%)
              rotate(45deg);
          }
          @media only screen and (min-width: 25em) {
            transform: translate(-260%, -120%) rotate(225deg) translate(-300%)
              rotate(45deg);
          }
          @media only screen and (min-width: 31.25em) {
            transform: translate(-247%, -140%) rotate(225deg) translate(-280%)
              rotate(45deg);
          }
          @media only screen and (min-width: 37.5em) {
            transform: translate(-225%, -140%) rotate(225deg) translate(-250%)
              rotate(45deg);
          }
        }

        :nth-child(13) {
          transform: translate(-220%, 120%) rotate(67.5deg) translate(180%)
            rotate(225deg);
          @media only screen and (max-width: 18.75em) {
            transform: translate(-200%, 140%) rotate(67.5deg) translate(160%)
              rotate(225deg);
          }
          @media only screen and (min-width: 25em) {
            transform: translate(-230%, 120%) rotate(67.5deg) translate(200%)
              rotate(225deg);
          }
          @media only screen and (min-width: 31.25em) {
            transform: translate(-220%, 120%) rotate(67.5deg) translate(180%)
              rotate(225deg);
          }
          @media only screen and (min-width: 37.5em) {
            transform: translate(-210%, 40%) rotate(67.5deg) translate(190%)
              rotate(225deg);
          }
        }

        :nth-child(14) {
          transform: translate(-160%, -100%) rotate(292.5deg) translate(-230%)
            rotate(22.5deg);
          @media only screen and (max-width: 18.75em) {
            transform: translate(-170%, -40%) rotate(292.5deg) translate(-200%)
              rotate(22.5deg);
          }
          @media only screen and (min-width: 25em) {
            transform: translate(-160%, -160%) rotate(292.5deg) translate(-280%)
              rotate(22.5deg);
          }
          @media only screen and (min-width: 31.25em) {
            transform: translate(-140%, -220%) rotate(292.5deg) translate(-300%)
              rotate(22.5deg);
          }
          @media only screen and (min-width: 37.5em) {
            transform: translate(-120%, -220%) rotate(292.5deg) translate(-280%)
              rotate(22.5deg);
          }
        }

        :nth-child(15) {
          transform: translate(20%, -150%) rotate(157.5deg) translate(240%)
            rotate(180deg);
          @media only screen and (max-width: 18.75em) {
            transform: translate(20%, -160%) rotate(157.5deg) translate(240%)
              rotate(180deg);
          }
          @media only screen and (min-width: 25em) {
            transform: translate(-20%, -100%) rotate(157.5deg) translate(220%)
              rotate(180deg);
          }
          @media only screen and (min-width: 31.25em) {
            transform: translate(-20%, -90%) rotate(157.5deg) translate(200%)
              rotate(180deg);
          }
          @media only screen and (min-width: 37.5em) {
            transform: translate(-20%, -80%) rotate(157.5deg) translate(180%)
              rotate(180deg);
          }
        }

        :last-child {
          transform: translate(-20%, -55%) rotate(180deg) translate(150%)
            rotate(180deg);
          @media only screen and (max-width: 18.75em) {
            transform: translate(-40%, -65%) rotate(180deg) translate(130%)
              rotate(180deg);
          }
          @media only screen and (min-width: 25em) {
            transform: translate(-10%, -55%) rotate(180deg) translate(190%)
              rotate(180deg);
          }
          @media only screen and (min-width: 31.25em) {
            transform: translate(10%, -50%) rotate(180deg) translate(190%)
              rotate(180deg);
          }
          @media only screen and (min-width: 37.5em) {
            transform: translate(0%, -50%) rotate(180deg) translate(150%)
              rotate(180deg);
          }
        }
      }
    }
  }

  .pointer {
    position: absolute;
    top: 45%;
    left: 1%;
    max-width: 6rem;
    max-height: 6rem;
    z-index: 10;
    @media only screen and (max-width: 18.75em) {
      max-width: 4rem;
      max-height: 4rem;
    }
    @media only screen and (min-width: 37.5em) {
      left: 24%;
      max-width: 4rem;
      max-height: 4rem;
    }

    // @media only screen and (max-width: 43.75em) {
    //   left: 5%;
    //   max-width: 3rem;
    //   max-height: 3rem;
    // }
  }

  .spin-btn {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--wheel-secondary);
    color: var(--black);
    font-weight: 600;
    border: none;
    outline: none;
    box-shadow: 1rem 1rem 2rem rgba($color: #000000, $alpha: 0.08);
    transition: all 0.5s;

    &.disable {
      cursor: not-allowed;

      &:active {
        transform: none;
      }
    }

    @media only screen and (min-width: 28.125em) {
      width: 5rem;
      height: 5rem;
    }
    @media only screen and (min-width: 31.25em) {
      width: 6rem;
      height: 6rem;
    }
    @media only screen and (min-width: 37.5em) {
      left: 47%;
      width: 3rem;
      height: 3rem;
      font-weight: 400;
      font-size: 1.2rem;
    }

    &:active {
      transform: scale(0.9, 0.9);
    }
  }

  .button-container {
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (min-width: 37.5em) {
      justify-content: space-around;
    }

    h4 {
      color: var(--wheel-secondary);
      text-transform: uppercase;
    }

    .form {
      display: flex;
      position: relative;

      input {
        background: transparent;
        padding: 0.5rem 0.8rem;
        width: 18rem;
        color: var(--white);
        font-size: 1.6rem;
        border: 3px solid var(--wheel-secondary);
        border-right: none;
        border-radius: 0.5rem;
        outline: none;
      }

      .wheel-btn {
        margin-left: -2rem;
        background: var(--wheel-secondary);
        border: 3px solid var(--wheel-secondary);
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        box-shadow: inset 0.5rem 0.5rem 1rem rgba($color: #000000, $alpha: 0.3);
        transition: all 0.5s;

        &:active {
          transform: scale(0.9, 0.9);
        }
      }
    }
  }
}
